<!--<mat-drawer-container class="container" autosize >-->
<!--  <mat-drawer #drawer side><mat-toolbar>Emisoras</mat-toolbar></mat-drawer>-->
<!--  <mat-drawer-content>-->

<!--<mat-toolbar style="display: flex; justify-content: space-between">-->
<!--  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>-->
<!--  Emisoras de radios Cubanas-->
<!--  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>info</mat-icon></button>-->

<!--</mat-toolbar>-->

<!--  </mat-drawer-content>-->
<!--</mat-drawer-container>-->
<app-layout></app-layout>
