<div class="intro">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Tarea</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <h3>
        1-Crear una Base de datos en Firebase para guardar un listado de
        productos.
      </h3>
      <h4>Cada producto debe tener los siguientes datos:</h4>
      <ul>
        <li>• id</li>
        <li>
          • name (debe ser único, máximo 20 caracteres y solo debe permitir
          letras y espacios incluidos ñ y tildes, nada de caracteres raros
          @#$%^& por poner algunos ejemplos)
        </li>
        <li>
          • serial_number (estrictamente 8 caracteres y solo debe permitir
          letras y números, nada de cararteres raros @#$%^& por poner algunos
          ejemplos)
        </li>
        <li>
          • price (mínimo 100 y máximo 500, formatear los números de esta manera
          tanto en el listado como en los formularios Ej: 10.00 -- 1,025.65 --
          10,250.32)
        </li>
      </ul>
      <h3>
        2- Crear un proyecto Angular para implementar un CRUD (add, edit,
        delete, list) de productos hacia la BD de Firebase.
      </h3>
      <ul>
        <li>• Debe usarse NGRX (actions, effects y reducers)</li>
      </ul>
      <h3>
        3- El listado debe tener 4 columnas (name, serial_number, price, actions
        (edit, delete));
      </h3>
      <h3>
        4- El botón de adicionar debe quedar en la parte superior derecha del
        listado.
      </h3>
      <h3>5- Al eliminar debe mostrar un diálogo de confirmación.</h3>
    </mat-card-content>
  </mat-card>
</div>
