<mat-progress-bar *ngIf="adding$ | async" color="warn" mode="indeterminate">
</mat-progress-bar>
<div class="container-prod">
  <form [formGroup]="productsForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Agregar un producto</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div
            class="container mt-3 d-flex justify-content-between align-items-center"
          >
            <span
              style="
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto auto;
                grid-gap: 0;
              "
            >
              <mat-form-field class="full-width" appearance="outline">
                <input matInput placeholder="Nombre" formControlName="name" />
                <mat-error *ngIf="productsForm.controls['name'].errors">
                  El campo nombre esta incorrecto
                </mat-error>

                <mat-hint align="end">max. 20 caracteres.</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Numero de serie</mat-label>
                <input
                  matInput
                  formControlName="serial_number"
                  placeholder="WSE568"
                />
                   <mat-error *ngIf="productsForm.controls['serial_number'].errors">
                  El campo serial number esta incorrecto
                </mat-error>
                       <mat-hint align="end">8 caracteres.</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Precio</mat-label>
                <input
                     matInput
                     type="number"
                     max="500"
                     min="100"
                  formControlName="price"
                  placeholder="1"

                />
                   <mat-error *ngIf="productsForm.controls['price'].errors">
                  El campo precio esta incorrecto
                </mat-error>
                <span matPrefix>$&nbsp;</span>
                         </mat-form-field>
            </span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button routerLink="/products">Cancelar</button>
        <button mat-raised-button [disabled]="!productsForm.valid">
          {{ productToEdit ? "Actualizar" : "Crear" }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
